*{
    padding: 0;
    margin: 0;
 }
 #navtxt,#navlist,.li{
    display:inline;
 }

 .li{
    padding-left: 20px;
    cursor: pointer;
 }

 #navlist{
    margin-left: 800px;
 }

 .li:hover
 {
    color: black;
 }

 nav{
    background-color:brown;
    color: white;
    height: 50px;
    padding:  15px;
    width: 1265px;
 }
 img{
    width: 400px;
    height: 500px;
    padding: 20px;
    display: inline;
 }
 p{
    display: inline-block;
    height: 100px;
    width: 700px;
    
 } 
 .x{
    display:inline-block;
    height: 160px;
    width: 200px;
    margin-top: 50px;
    cursor: pointer;
 }
 .x:hover{
    background-color:brown;
    color: white;
 }
 .skills{
    color: black;
    display: inline;
    text-align: center;
    margin-left: 200px;
    padding-top: 125px;
 }
 .p{
    height: 100px;
    width: 100px;
 }
 .a{
    margin-top: 20px;
    margin-left: 550px;
 }
 .res{
    margin-top: 20px;
    margin-left: 535px;
 }
 .Contact{
    margin-top: 20px;
    margin-left: 515px;
 }
 .b{
    display: block;
    margin-top: 50px;
    margin-left: 550px;
 }
 ul{
    margin-left: 50px;
    margin-top: 20px;
 }
 #Objective{
    margin-top:20px
 }
 #objtxt{
    margin-left: 100px;
    display: inline;
 }
 #declare{
    margin-top: 20px;
 }
 #dectxt{
    margin-left: 100px;
    display: inline;
 }
 #footer{
    width: 1290px;
    height: 200px;
    background-color:brown;
    margin-top: 20px;
    color: white;
 }
 #Contact{
    margin-right: 100px;
    text-align: center;
    margin-top: 20px;
 }
 #txt{
     margin-left: 550px;
     margin-top: 20px;
     display: inline-block;
 }
 #cpytxt1{
    margin-top: 10px;
    margin-left: 500px;
 }
 #cpytxt2{
    margin-left: 30px;
 }
 body{
    background: linear-gradient(pink,white,pink);
 }